* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;

  background: #b20101;
  background: linear-gradient(
    124deg,
    rgba(178, 1, 1, 1) 0%,
    rgba(178, 39, 1, 1) 50%,
    rgba(178, 1, 51, 1) 100%
  );
  background-repeat: no-repeat;
}
a {
  color: inherit;
}

img,
video {
  display: block;
}

h1 {
  font-family: "Lilita One", sans-serif;
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;

  color: #fff;

  margin-top: 40px;
}

#board {
  transform: perspective(1500px) rotateX(24deg) rotateY(10deg) rotateZ(0deg)
    scale(1);

  width: 740px;
  height: 670px;

  margin: 40px auto;
  padding: 40px 40px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat (4, 1fr);
  gap: 32px;

  background-color: #fff;
  border-radius: 32px;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 1px solid rgba(255, 255, 255, 0.41);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  cursor: pointer;

  font-size: 52px;

  background: #ffffff;
  background: radial-gradient(
    circle,
    rgb(249, 252, 255) 0%,
    rgb(247, 249, 244) 100%
  );

  background-image: url(/src/ace.jpg);
  background-position: center;
  background-size: cover;

  border-style: solid;
  border-color: rgba(93, 10, 10, 0.527);
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 0px 0px 2px 0px rgba(62, 27, 27, 0.5);

  perspective: 1000px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);

  transition: 0.1s ease-in;

  /* Les éléments ayant la class card MAIS PAS hidden afficheront l'émoji */
  &:not(.hidden)::after {
    content: attr(data-emoji);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /* Les éléments ayant la class card ET hidden auront un fond gris */
  &.hidden {
    background-image: url(/src/uno_card.jpg);
    background-size: cover;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }

  &.hidden:hover {
    box-shadow: 0px 4px 8px 0px rgba(62, 27, 27, 0.5);
    transform: scale(1.25);
  }
}
