* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #8aab97;
  background-image:
    repeating-linear-gradient(
      to right,
      transparent 0,
      transparent 1.6666666666666667px,
      #8aab97 1.6666666666666667px,
      #8aab97 5px,
      transparent 5px,
      transparent 6.666666666666667px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 1.6666666666666667px,
      #8aab97 1.6666666666666667px,
      #8aab97 5px,
      transparent 5px,
      transparent 6.666666666666667px
    ),
    linear-gradient(to bottom, #ffffff 0.6px, transparent 0.6px),
    linear-gradient(to right, #ffffff 0.6px, transparent 0.6px);
  background-size:
    100% 100%,
    100% 100%,
    20px 20px,
    20px 20px;
  background-position:
    0 0,
    0 0,
    0 -0.2px,
    -0.2px 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

h1 {
  font-family: "Lilita One", sans-serif;
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;

  color: white;

  margin-top: 40px;
}

#board {
  width: 720px;
  height: 650px;

  margin: 40px auto;
  padding: 20px 28px 28px 20px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat (4, 1fr);
  gap: 32px;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  font-size: 40px;

  background: #ffffff;
  background: radial-gradient(
    circle,
    rgb(249, 252, 255) 0%,
    rgb(247, 249, 244) 100%
  );

  background-image: url(/src/ace.jpg);
  background-position: center;
  background-size: cover;

  border-style: solid;
  border-color: rgba(93, 10, 10, 0.527);
  border-width: 2px;
  border-radius: 8px;
  box-shadow: 2px 4px 2px 0px rgba(62, 27, 27, 0.5);

  /* Les éléments ayant la class card MAIS PAS hidden afficheront l'émoji */
  &:not(.hidden)::after {
    content: attr(data-emoji);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /* Les éléments ayant la class card ET hidden auront un fond gris */
  &.hidden {
    background-image: url(/src/uno_card.jpg);
    background-size: cover;
  }
}
