* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fbfaf9;
  background-image:
    linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

h1 {
  font-family: "Lilita One", sans-serif;
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;

  color: rgb(28, 28, 28);

  margin-top: 40px;
}

#board {
  width: 720px;
  height: 650px;

  margin: 40px auto;
  padding: 20px 28px 28px 20px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat (4, 1fr);
  gap: 32px;

  /* From https://css.glass */
  background: rgba(191, 191, 191, 0.35);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.7px);
  -webkit-backdrop-filter: blur(13.7px);
  border: 1px solid rgba(142, 142, 142, 0.75);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  cursor: pointer;

  font-size: 52px;

  background: #ffffff;
  background: radial-gradient(
    circle,
    rgb(249, 252, 255) 0%,
    rgb(247, 249, 244) 100%
  );

  background-image: url(/src/ace.jpg);
  background-position: center;
  background-size: cover;

  border-style: solid;
  border-color: rgba(93, 10, 10, 0.527);
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 0px 0px 2px 0px rgba(62, 27, 27, 0.5);

  transition: 0.2s;

  /* Les éléments ayant la class card MAIS PAS hidden afficheront l'émoji */
  &:not(.hidden)::after {
    content: attr(data-emoji);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /* Les éléments ayant la class card ET hidden auront un fond gris */
  &.hidden {
    background-image: url(/src/uno_card.jpg);
    background-size: cover;
  }
}

.card:hover {
  box-shadow: 4px 4px 4px 0px rgba(62, 27, 27, 0.5);
  transform: scale(1.2);
}
